<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectAkbas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        body {
            padding-top: 56px; /* yüksekliği  */
            background-color: #f8f9fa; /* Genel Arka */
        }

        .navbar {
            background-color: #ffffff; /* Navbar arka plan */
            z-index: 10;
        }

        .offcanvas-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .offcanvas-header .btn-close {
                font-size: 1.5rem; /* Simge boyutu */
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/img/akbasIcon.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h5>QUALITIES</h5>
            <ul class="list-group mt-3">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="mainQualities">
                    <label class="form-check-label" for="mainQualities">Main Qualities</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="archiveQualities">
                    <label class="form-check-label" for="archiveQualities">Archive Qualities</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="newQualities">
                    <label class="form-check-label" for="newQualities">New Qualities</label>
                </li>
            </ul>

            <h7 class="mt-4">Qualities Group</h7>
            <ul class="list-group mt-3">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="viscoes">
                    <label class="form-check-label" for="viscoes">Viscoes</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="rayon">
                    <label class="form-check-label" for="rayon">Rayon</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="rynSignart">
                    <label class="form-check-label" for="rynSignart">Ryn Signart</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="cotton">
                    <label class="form-check-label" for="cotton">Cotton</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="nylon">
                    <label class="form-check-label" for="nylon">Nylon</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="polyester">
                    <label class="form-check-label" for="polyester">Polyester</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="pesDouble">
                    <label class="form-check-label" for="pesDouble">Pes Double</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="tencel">
                    <label class="form-check-label" for="tencel">Tencel</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="modal">
                    <label class="form-check-label" for="modal">Modal</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="linen">
                    <label class="form-check-label" for="linen">Linen</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="jacquard">
                    <label class="form-check-label" for="jacquard">Jacquard</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="mix">
                    <label class="form-check-label" for="mix">Mix</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="yarnDyed">
                    <label class="form-check-label" for="yarnDyed">Yarn Dyed</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="airflow">
                    <label class="form-check-label" for="airflow">Airflow</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="sustainable">
                    <label class="form-check-label" for="sustainable">Sustainable</label>
                </li>
            </ul>
            <h5>Price List</h5>
            <ul class="list-group mt-3">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="general">
                    <label class="form-check-label" for="general">General</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="confection">
                    <label class="form-check-label" for="confection">Confection</label>
                </li>
            </ul>

            <h5 class="mt-4">Sale Price</h5>
            <ul class="list-group mt-3">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="domestic">
                    <label class="form-check-label" for="domestic">Domestic</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="export">
                    <label class="form-check-label" for="export">Export</label>
                </li>
            </ul>

            <h5 class="mt-4">Currency</h5>
            <ul class="list-group mt-3">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="dollar">
                    <label class="form-check-label" for="dollar">Dollar</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="euro">
                    <label class="form-check-label" for="euro">Euro</label>
                </li>
            </ul>

        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
